<!--(bake /sections/header.html)-->

                
        <section class="main main-two-col">
            <!--(bake /organisms/article-block-raw.html)-->
</section>
<aside class="main-sidebar">
    <!--(bake /organisms/teaser-list-raw.html)-->
        
</aside>
<!--(bake /sections/footer.html)-->