@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600);
@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);
/* line 5, ../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@-webkit-keyframes slideInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
    -moz-transform: translateY(-2000px);
    -ms-transform: translateY(-2000px);
    -o-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }
  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
@-moz-keyframes slideInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
    -moz-transform: translateY(-2000px);
    -ms-transform: translateY(-2000px);
    -o-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }
  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
@-ms-keyframes slideInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
    -moz-transform: translateY(-2000px);
    -ms-transform: translateY(-2000px);
    -o-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }
  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
@-o-keyframes slideInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
    -moz-transform: translateY(-2000px);
    -ms-transform: translateY(-2000px);
    -o-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }
  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes slideInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
    -moz-transform: translateY(-2000px);
    -ms-transform: translateY(-2000px);
    -o-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }
  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes slideInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
    -moz-transform: translateX(-2000px);
    -ms-transform: translateX(-2000px);
    -o-transform: translateX(-2000px);
    transform: translateX(-2000px);
  }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
@-moz-keyframes slideInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
    -moz-transform: translateX(-2000px);
    -ms-transform: translateX(-2000px);
    -o-transform: translateX(-2000px);
    transform: translateX(-2000px);
  }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
@-ms-keyframes slideInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
    -moz-transform: translateX(-2000px);
    -ms-transform: translateX(-2000px);
    -o-transform: translateX(-2000px);
    transform: translateX(-2000px);
  }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
@-o-keyframes slideInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
    -moz-transform: translateX(-2000px);
    -ms-transform: translateX(-2000px);
    -o-transform: translateX(-2000px);
    transform: translateX(-2000px);
  }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes slideInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
    -moz-transform: translateX(-2000px);
    -ms-transform: translateX(-2000px);
    -o-transform: translateX(-2000px);
    transform: translateX(-2000px);
  }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes slideInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
    -moz-transform: translateX(2000px);
    -ms-transform: translateX(2000px);
    -o-transform: translateX(2000px);
    transform: translateX(2000px);
  }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
@-moz-keyframes slideInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
    -moz-transform: translateX(2000px);
    -ms-transform: translateX(2000px);
    -o-transform: translateX(2000px);
    transform: translateX(2000px);
  }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
@-ms-keyframes slideInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
    -moz-transform: translateX(2000px);
    -ms-transform: translateX(2000px);
    -o-transform: translateX(2000px);
    transform: translateX(2000px);
  }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
@-o-keyframes slideInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
    -moz-transform: translateX(2000px);
    -ms-transform: translateX(2000px);
    -o-transform: translateX(2000px);
    transform: translateX(2000px);
  }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes slideInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
    -moz-transform: translateX(2000px);
    -ms-transform: translateX(2000px);
    -o-transform: translateX(2000px);
    transform: translateX(2000px);
  }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes slideInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(2000px);
    -moz-transform: translateY(2000px);
    -ms-transform: translateY(2000px);
    -o-transform: translateY(2000px);
    transform: translateY(2000px);
  }
  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
@-moz-keyframes slideInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(2000px);
    -moz-transform: translateY(2000px);
    -ms-transform: translateY(2000px);
    -o-transform: translateY(2000px);
    transform: translateY(2000px);
  }
  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
@-ms-keyframes slideInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(2000px);
    -moz-transform: translateY(2000px);
    -ms-transform: translateY(2000px);
    -o-transform: translateY(2000px);
    transform: translateY(2000px);
  }
  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
@-o-keyframes slideInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(2000px);
    -moz-transform: translateY(2000px);
    -ms-transform: translateY(2000px);
    -o-transform: translateY(2000px);
    transform: translateY(2000px);
  }
  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes slideInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(2000px);
    -moz-transform: translateY(2000px);
    -ms-transform: translateY(2000px);
    -o-transform: translateY(2000px);
    transform: translateY(2000px);
  }
  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes slideOutDown {
  0% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(2000px);
    -moz-transform: translateY(2000px);
    -ms-transform: translateY(2000px);
    -o-transform: translateY(2000px);
    transform: translateY(2000px);
  }
}
@-moz-keyframes slideOutDown {
  0% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(2000px);
    -moz-transform: translateY(2000px);
    -ms-transform: translateY(2000px);
    -o-transform: translateY(2000px);
    transform: translateY(2000px);
  }
}
@-ms-keyframes slideOutDown {
  0% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(2000px);
    -moz-transform: translateY(2000px);
    -ms-transform: translateY(2000px);
    -o-transform: translateY(2000px);
    transform: translateY(2000px);
  }
}
@-o-keyframes slideOutDown {
  0% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(2000px);
    -moz-transform: translateY(2000px);
    -ms-transform: translateY(2000px);
    -o-transform: translateY(2000px);
    transform: translateY(2000px);
  }
}
@keyframes slideOutDown {
  0% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(2000px);
    -moz-transform: translateY(2000px);
    -ms-transform: translateY(2000px);
    -o-transform: translateY(2000px);
    transform: translateY(2000px);
  }
}
@-webkit-keyframes slideOutLeft {
  0% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
    -moz-transform: translateX(-2000px);
    -ms-transform: translateX(-2000px);
    -o-transform: translateX(-2000px);
    transform: translateX(-2000px);
  }
}
@-moz-keyframes slideOutLeft {
  0% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
    -moz-transform: translateX(-2000px);
    -ms-transform: translateX(-2000px);
    -o-transform: translateX(-2000px);
    transform: translateX(-2000px);
  }
}
@-ms-keyframes slideOutLeft {
  0% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
    -moz-transform: translateX(-2000px);
    -ms-transform: translateX(-2000px);
    -o-transform: translateX(-2000px);
    transform: translateX(-2000px);
  }
}
@-o-keyframes slideOutLeft {
  0% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
    -moz-transform: translateX(-2000px);
    -ms-transform: translateX(-2000px);
    -o-transform: translateX(-2000px);
    transform: translateX(-2000px);
  }
}
@keyframes slideOutLeft {
  0% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
    -moz-transform: translateX(-2000px);
    -ms-transform: translateX(-2000px);
    -o-transform: translateX(-2000px);
    transform: translateX(-2000px);
  }
}
@-webkit-keyframes slideOutRight {
  0% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
    -moz-transform: translateX(2000px);
    -ms-transform: translateX(2000px);
    -o-transform: translateX(2000px);
    transform: translateX(2000px);
  }
}
@-moz-keyframes slideOutRight {
  0% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
    -moz-transform: translateX(2000px);
    -ms-transform: translateX(2000px);
    -o-transform: translateX(2000px);
    transform: translateX(2000px);
  }
}
@-ms-keyframes slideOutRight {
  0% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
    -moz-transform: translateX(2000px);
    -ms-transform: translateX(2000px);
    -o-transform: translateX(2000px);
    transform: translateX(2000px);
  }
}
@-o-keyframes slideOutRight {
  0% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
    -moz-transform: translateX(2000px);
    -ms-transform: translateX(2000px);
    -o-transform: translateX(2000px);
    transform: translateX(2000px);
  }
}
@keyframes slideOutRight {
  0% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
    -moz-transform: translateX(2000px);
    -ms-transform: translateX(2000px);
    -o-transform: translateX(2000px);
    transform: translateX(2000px);
  }
}
@-webkit-keyframes slideOutUp {
  0% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
    -moz-transform: translateY(-2000px);
    -ms-transform: translateY(-2000px);
    -o-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }
}
@-moz-keyframes slideOutUp {
  0% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
    -moz-transform: translateY(-2000px);
    -ms-transform: translateY(-2000px);
    -o-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }
}
@-ms-keyframes slideOutUp {
  0% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
    -moz-transform: translateY(-2000px);
    -ms-transform: translateY(-2000px);
    -o-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }
}
@-o-keyframes slideOutUp {
  0% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
    -moz-transform: translateY(-2000px);
    -ms-transform: translateY(-2000px);
    -o-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }
}
@keyframes slideOutUp {
  0% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
    -moz-transform: translateY(-2000px);
    -ms-transform: translateY(-2000px);
    -o-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }
}
/*bouncing in and out content*/
/* line 11, ../scss/atoms/_font.scss */
h1 {
  font-size: 2.125em;
}

/* line 15, ../scss/atoms/_font.scss */
h2 {
  font-size: 28px;
}

/* line 19, ../scss/atoms/_font.scss */
h3 {
  font-size: 1.5em;
}

/* line 23, ../scss/atoms/_font.scss */
h4 {
  font-size: 18px;
}

/* line 27, ../scss/atoms/_font.scss */
h5 {
  font-size: 16px;
}

/* line 31, ../scss/atoms/_font.scss */
h6 {
  font-size: 12px;
}

/* line 36, ../scss/atoms/_font.scss */
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  text-decoration: none;
}

/* line 3, ../scss/atoms/_paragraph.scss */
.intro {
  font-weight: 600;
}

/* line 3, ../scss/atoms/_lists.scss */
ul {
  padding: 0 0 0 30px;
}

/* line 7, ../scss/atoms/_lists.scss */
li {
  list-style: inside none disc;
  padding: 0;
}

/* line 12, ../scss/atoms/_lists.scss */
ul.plain-list {
  display: inline-block;
  padding: 0;
  margin: 0;
  width: 100%;
}
/* line 14, ../scss/atoms/_lists.scss */
ul.plain-list li {
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

/* line 1, ../scss/atoms/_buttons.scss */
.cd-btn, .nav-btn {
  font-size: 28px;
  text-decoration: none;
  color: #222222;
}

/* line 8, ../scss/atoms/_buttons.scss */
input[type=submit] {
  background: #AABD8C;
  border-radius: 4px;
  overflow: visible;
  padding: 10px 20px;
  color: #fff;
}

/* line 17, ../scss/atoms/_buttons.scss */
.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border-radius: 4px;
  border: none 0;
  max-width: 230px;
}

/* line 41, ../scss/atoms/_buttons.scss */
a.btn {
  border-width: 1px;
  border-style: solid;
  border-color: #777777;
  color: #222222;
  text-decoration: none;
}

/* line 47, ../scss/atoms/_buttons.scss */
input.btn {
  background: #aaa;
}

/* line 51, ../scss/atoms/_buttons.scss */
input.btn[type="submit"] {
  background: #87D867;
}

/* line 2, ../scss/atoms/_forms.scss */
input,
textarea {
  margin: 0;
  font: inherit;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

/* line 14, ../scss/atoms/_forms.scss */
html {
  -webkit-tap-highlight-color: transparent;
}

/* line 17, ../scss/atoms/_forms.scss */
html input[disabled] {
  cursor: default;
}

/* line 21, ../scss/atoms/_forms.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/* line 28, ../scss/atoms/_forms.scss */
form {
  max-width: 568px;
  clear: both;
}

/* line 33, ../scss/atoms/_forms.scss */
.control-group {
  margin-bottom: 20px;
}

/* line 37, ../scss/atoms/_forms.scss */
.form-control {
  display: block;
  width: 100%;
  height: 1.42857;
  padding: 10px 20px;
  font-size: 16px;
  line-height: 1.42857;
  color: #222222;
  background-image: none;
  border-width: 1px;
  border-style: solid;
  border-color: #777777;
  border-radius: 4px;
}
/* line 48, ../scss/atoms/_forms.scss */
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
  cursor: not-allowed;
  background-color: #777777;
  opacity: 1;
}

/* line 57, ../scss/atoms/_forms.scss */
.control-group .controls {
  margin-bottom: 20px;
}

/* line 65, ../scss/atoms/_forms.scss */
label {
  color: #222222;
  font-size: 16px;
  line-height: 1;
  margin-bottom: 10px;
  display: block;
  max-width: 100%;
  min-height: 20px;
  margin-bottom: 0;
  font-weight: 400;
  cursor: pointer;
}

/* line 81, ../scss/atoms/_forms.scss */
.radio.inline,
.checkbox.inline {
  display: inline;
  padding-top: 5px;
  margin-bottom: 0;
  vertical-align: middle;
}

/* line 91, ../scss/atoms/_forms.scss */
.placeholder form label {
  display: none;
}

/* line 96, ../scss/atoms/_forms.scss */
.placeholder form .form-type-checkbox label,
.placeholder form .form-type-radio label {
  display: inline-block;
}

/* line 102, ../scss/atoms/_forms.scss */
input {
  line-height: 16px;
  width: 100%;
  max-width: 100%;
  font-size: 14px;
}

/* line 111, ../scss/atoms/_forms.scss */
input[type=checkbox],
input[type=radio] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin-left: 0;
  margin-top: 1px \9;
  line-height: normal;
  position: relative;
  display: inline;
  width: auto;
  height: auto;
}

/* line 127, ../scss/atoms/_forms.scss */
textarea {
  overflow: auto;
  height: auto;
}

/* line 134, ../scss/atoms/_forms.scss */
fieldset {
  margin-bottom: 40px;
  padding: 30px;
}

/* line 146, ../scss/atoms/_forms.scss */
legend {
  border: 0 none;
  color: #333333;
  display: block;
  font-size: 18px;
  font-weight: 400;
  line-height: inherit;
  padding: 20px;
  width: 100%;
  background: #eeeeee;
}

/* line 160, ../scss/atoms/_forms.scss */
input[type=file] {
  display: block;
}

/* line 165, ../scss/atoms/_forms.scss */
input[type=file]:focus,
input[type=checkbox]:focus,
input[type=radio]:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

/* line 174, ../scss/atoms/_forms.scss */
input[type=submit] {
  margin: auto;
  padding: 20px;
  white-space: normal;
  height: auto;
}

/* line 186, ../scss/atoms/_forms.scss */
input {
  display: inline-block;
  width: 100%;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 16px;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border-width: 1px;
  border-style: solid;
  border-color: #777777;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

/* line 205, ../scss/atoms/_forms.scss */
input[type=text]:focus,
input[type=email]:focus,
input[type=tel]:focus {
  border-color: #777777;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

/* line 214, ../scss/atoms/_forms.scss */
input[type=text]::-moz-placeholder {
  color: #777777;
}

/* line 219, ../scss/atoms/_forms.scss */
input[type=text]:-ms-input-placeholder {
  color: #777777;
}

/* line 223, ../scss/atoms/_forms.scss */
.form-group, .form-item {
  margin-bottom: 20px;
}

/* line 227, ../scss/atoms/_forms.scss */
input[type=checkbox][disabled],
input[type=radio][disabled] {
  cursor: not-allowed;
}

/* line 233, ../scss/atoms/_forms.scss */
.input-append, .input-prepend {
  display: inline-block;
  margin-bottom: 10px;
  font-size: 0;
  white-space: nowrap;
  vertical-align: middle;
}

/* line 241, ../scss/atoms/_forms.scss */
.form-search .input-append,
.form-inline .input-append,
.form-horizontal .input-append {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
}

/* line 249, ../scss/atoms/_forms.scss */
.input-append input {
  position: relative;
  border-radius: 4px 0 0 4px;
}

/* line 253, ../scss/atoms/_forms.scss */
.input-append .add-on {
  margin-left: -1px;
  display: inline-block;
  width: auto;
  min-width: 16px;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: normal;
  line-height: 16px;
  text-align: center;
  text-shadow: 0 1px 0 #fff;
  background-color: #eee;
  border: 1px solid #ccc;
}

/* line 268, ../scss/atoms/_forms.scss */
.input-append .add-on:last-child {
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
  vertial-align: top;
}

/* line 282, ../scss/atoms/_forms.scss */
.checkbox.disabled label,
.radio.disabled label {
  cursor: not-allowed;
}

@-ms-viewport {
  width: device-width;
}
/* line 1, ../scss/atoms/_images.scss */
.thumbnail {
  background: #6887D8;
}

/* line 5, ../scss/atoms/_images.scss */
.thumbnail-inline {
  background: red;
}

/* line 2, ../scss/layouts/_core.scss */
*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 8, ../scss/layouts/_core.scss */
*::after, *::before {
  content: '';
}

/* line 13, ../scss/layouts/_core.scss */
html, body {
  height: 100%;
}

/* line 17, ../scss/layouts/_core.scss */
html,
button,
input,
select,
textarea {
  color: #222222;
}

/* line 25, ../scss/layouts/_core.scss */
html {
  font-size: 1em;
  line-height: 1.4;
}

/* line 30, ../scss/layouts/_core.scss */
body {
  font-family: "Source Sans Pro", sans-serif;
}

/*
 * A better looking default horizontal rule
 */
/* line 39, ../scss/layouts/_core.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #555555;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */
/* line 53, ../scss/layouts/_core.scss */
audio,
canvas,
img,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
/* line 64, ../scss/layouts/_core.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
/* line 74, ../scss/layouts/_core.scss */
textarea {
  resize: vertical;
  width: 100%;
  max-width: 100%;
}

/* line 80, ../scss/layouts/_core.scss */
p {
  margin-bottom: 20px;
}

/* line 1, ../scss/layouts/_layout.scss */
.main-two-col {
  width: 100%;
}
@media (min-width: 700px) {
  /* line 1, ../scss/layouts/_layout.scss */
  .main-two-col {
    width: 75%;
    padding-right: 2%;
    float: left;
  }
}

/* line 10, ../scss/layouts/_layout.scss */
.main-sidebar {
  width: 100%;
}
@media (min-width: 700px) {
  /* line 10, ../scss/layouts/_layout.scss */
  .main-sidebar {
    width: 25%;
    padding-left: 2%;
    float: left;
  }
}

/* line 9, ../scss/styleguide/_sg-variables.scss */
.primary-colour {
  background: #6887D8;
}

/* line 13, ../scss/styleguide/_sg-variables.scss */
.btn-colour {
  background: #87D867;
}

/* line 17, ../scss/styleguide/_sg-variables.scss */
.brand-colour {
  background: #223D84;
}

/* line 21, ../scss/styleguide/_sg-variables.scss */
.cta-colour {
  background: #AABD8C;
}

/* line 25, ../scss/styleguide/_sg-variables.scss */
.gray-darker {
  background: #222222;
}

/* line 29, ../scss/styleguide/_sg-variables.scss */
.gray-dark {
  background: #333333;
}

/* line 33, ../scss/styleguide/_sg-variables.scss */
.gray {
  background: #555555;
}

/* line 37, ../scss/styleguide/_sg-variables.scss */
.gray-light {
  background: #777777;
}

/* line 41, ../scss/styleguide/_sg-variables.scss */
.gray-lighter {
  background: #eeeeee;
}

/* line 2, ../scss/styleguide/_sg-layout.scss */
.menu-btn-wrapper {
  text-align: right;
  display: inline-block;
  width: 100%;
}

/* line 8, ../scss/styleguide/_sg-layout.scss */
.menu-btn-wrapper span {
  cursor: pointer;
  float: right;
}
/* line 11, ../scss/styleguide/_sg-layout.scss */
.menu-btn-wrapper span i {
  display: block;
  font-size: 46px;
}

/* line 17, ../scss/styleguide/_sg-layout.scss */
.close-btn {
  text-align: right;
  display: block;
  cursor: pointer;
}
/* line 21, ../scss/styleguide/_sg-layout.scss */
.close-btn i {
  font-size: 46px;
  color: #fff;
}

/* line 28, ../scss/styleguide/_sg-layout.scss */
.styleguide-wrapper {
  padding: 0 20px;
}
@media (min-width: 700px) {
  /* line 28, ../scss/styleguide/_sg-layout.scss */
  .styleguide-wrapper {
    width: 96%;
    margin: auto;
    max-width: 1200px;
  }
}

/* line 38, ../scss/styleguide/_sg-layout.scss */
.styleguide .top-strap {
  width: 100%;
  display: block;
}

/* line 59, ../scss/styleguide/_sg-layout.scss */
ul.sg-colours {
  display: inline-block;
  padding: 0;
  margin: 0;
  width: 100%;
}
/* line 61, ../scss/styleguide/_sg-layout.scss */
ul.sg-colours li {
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  margin-bottom: 20px;
}
/* line 65, ../scss/styleguide/_sg-layout.scss */
ul.sg-colours li .sg-colour {
  display: block;
  width: 90px;
  height: 90px;
  float: left;
  margin-right: 20px;
  position: relative;
}
@media (min-width: 700px) {
  /* line 65, ../scss/styleguide/_sg-layout.scss */
  ul.sg-colours li .sg-colour {
    width: 100px;
    height: 100px;
  }
}

/* line 79, ../scss/styleguide/_sg-layout.scss */
.sg-colours-row {
  display: block;
}

/* line 82, ../scss/styleguide/_sg-layout.scss */
.sg-colour-name {
  font-size: 12px;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  color: #fff;
  text-align: center;
}

/* line 101, ../scss/styleguide/_sg-layout.scss */
ul.sg-fonts li.sg-font-light {
  font-weight: 300;
}
/* line 104, ../scss/styleguide/_sg-layout.scss */
ul.sg-fonts li.sg-font-medium {
  font-weight: 400;
}
/* line 107, ../scss/styleguide/_sg-layout.scss */
ul.sg-fonts li.sg-font-bold {
  font-weight: 600;
}

/* line 112, ../scss/styleguide/_sg-layout.scss */
ul.sg-fonts li span {
  margin-left: 20px;
}

/* line 2, ../scss/styleguide/_sg_sidepanel.scss */
.off-canvas {
  display: none;
  position: relative;
  padding: 0;
  top: 0;
  width: 0;
}

/* line 11, ../scss/styleguide/_sg_sidepanel.scss */
.off-canvas.active {
  display: block;
  left: 0;
  position: absolute;
  z-index: 200;
  width: 100%;
  -webkit-animation-name: slideInDown;
  -moz-animation-name: slideInDown;
  -ms-animation-name: slideInDown;
  -o-animation-name: slideInDown;
  animation-name: slideInDown;
  -webkit-animation-iteration-count: 1s;
  -moz-animation-iteration-count: 1s;
  -ms-animation-iteration-count: 1s;
  -o-animation-iteration-count: 1s;
  animation-iteration-count: 1s;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -ms-animation-delay: 0s;
  -o-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  -ms-animation-timing-function: ease;
  -o-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* line 23, ../scss/styleguide/_sg_sidepanel.scss */
.cd-panel {
  background: rgba(0, 0, 0, 0.9);
  height: 100%;
  width: 96%;
  margin: auto;
  max-width: 1200px;
  z-index: 2;
  padding: 20px;
}

/* line 40, ../scss/styleguide/_sg_sidepanel.scss */
.cd-panel-content h1 {
  color: #fff;
}

/* line 44, ../scss/styleguide/_sg_sidepanel.scss */
.cd-panel-content h2,
.cd-panel-content h3 {
  color: #fff;
}

/* line 49, ../scss/styleguide/_sg_sidepanel.scss */
.cd-panel-content ul li {
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

/* line 52, ../scss/styleguide/_sg_sidepanel.scss */
.cd-panel-content a {
  color: #fff;
  text-decoration: none;
}

/*overlay stuff*/
/* line 60, ../scss/styleguide/_sg_sidepanel.scss */
.overlay.ng-hide-add,
.overlay.ng-hide-remove {
  display: block !important;
}

/* line 66, ../scss/styleguide/_sg_sidepanel.scss */
.overlay {
  background: none repeat scroll 0 0 #808080;
  bottom: 0;
  left: 0;
  opacity: 0.85;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
  -webkit-transition: all linear 0.4s;
  transition: all linear 0.4s;
}

/* line 79, ../scss/styleguide/_sg_sidepanel.scss */
.overlay.ng-hide {
  background: #fff;
  opacity: 0;
}
