<h2 id="colours">Colours</h2>
<ul name="colours" class="sg-colours">
    <li>
        <div class="sg-colours-row">
            <div class="sg-colour primary-colour">
                <span class="sg-colour-name">
                $primary-colour
                </span>
            </div><!--end color block-->
            <div class="sg-colour-desc">
                <p>The sites primary colour. Used for headings and stuff.</p>
            </div>
        </div>
    </li>
    <li>
        <div class="sg-colours-row">
            <div class="sg-colour btn-colour">
                <span class="sg-colour-name">
                $btn-colour
                </span>
            </div><!--end color block-->
            <div class="sg-colour-desc">
                <p>The sites secondary colour. Used for buttons.</p>
            </div>
        </div>
    </li>
    <li>
        <div class="sg-colours-row">
            <div class="sg-colour brand-colour">
                <span class="sg-colour-name">
                $brand-colour
                </span>
            </div><!--end color block-->
            <div class="sg-colour-desc">
                <p>The sites brand colour. Used for logo.</p>
            </div>
        </div>
    </li>
        <li>
        <div class="sg-colours-row">
            <div class="sg-colour go-colour">
                <span class="sg-colour-name">
                $go-colour
                </span>
            </div><!--end color block-->
            <div class="sg-colour-desc">
                <p>The sites brand sucess colour. Used for proceed.</p>
            </div>
        </div>
    </li>
</ul>
<hr>    