 <h2 id="fonts">Fonts</h2>
            <h3>Source Sans Pro</h3>
            <ul class="sg-fonts">
                <li class="sg-font-light">The quick brown fox jumps over the lazy dog<span>Weight:300</span></li>
                <li class="sg-font-medium">The quick brown fox jumps over the lazy dog<span>Weight: 400</span></li>
                <li class="sg-font-bold">The quick brown fox jumps over the lazy dog<span>Weight: 600</span></li>
            </ul>
            <hr>   