// styleguide variables

// breakpoints
$bp1: 400px;
$bp2: 700px;
$bp3: 960px;
$bp4: 1300px;

.primary-colour {
	background: $primary-colour;
}

.btn-colour {
	background: $btn-colour;
}

.brand-colour {
	background: $brand-colour;
}

.go-colour {
	background: $go-colour;
}