//styleguide layout

.styleguide-wrapper {
padding: 0 $spacing-m;
	@include bp(m) {
	width: 80%;
	margin: auto;
	max-width: 1200px;
}
}

.styleguide .top-strap {
	width: 100%;
	display: block;
}

.styleguide aside.sidebar {
@include bp(m) {
	//width: 25%;
	//float: left;
	//padding-right: 5%;
}
	
}

.styleguide section.main-two-col {
@include bp(m) {
	//width: 75%;
	//float: left;
}
}
// colours
ul.sg-colours {
@include nobulletul();
li {
	
	@include nobullets ();
	margin-bottom: $spacing-m;
		.sg-colour {
		display:block;
		width: 90px;
		height: 90px;
		float: left;
		margin-right: $spacing-m;
		position: relative;
		@include bp(m) {
		width: 100px;
		height: 100px;
		}
		}
	}
}
.sg-colours-row {
	display: block;
}
.sg-colour-name {
font-size: $font-size-h6;
position: absolute;
bottom: 0;
right: 0;
left: 0;
background: $overlay-black;
color: #fff;
text-align: center;
}

.sg-colour-desc {
}

// fonts
ul.sg-fonts {
}

ul.sg-fonts li {
	&.sg-font-light {	
	font-weight: $font-weight-light;
}
	&.sg-font-medium {	
	font-weight: $font-weight-medium;
}
	&.sg-font-bold {
	font-weight: $font-weight-bold;
}
	
}
ul.sg-fonts li span {
margin-left: $spacing-m;
	
}