<!DOCTYPE html>
<html ng-app="styleApp">
  <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Styleguide</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="stylesheet" href="css/styleguide.css">
        <script src="js/vendor/modernizr-2.6.2.min.js"></script>
       <!--<base href="/angularstyle">-->
    </head>
     <!--<div ng-include="'scaffolding/header.html'"></div>-->


    <body class="styleguide">
        <div class="styleguide-wrapper" ng-controller="mainCtrl">
            <div class="top-strap">
                

            </div>
            
        <section class="main">
<!--<button type="button" class="btn btn-primary btn-xs fa fa-bars" ng-click="openSide = ! openSide">test</button>-->
<div class="menu-btn-wrapper"><span ng-click="toggleSingleClass()"><i type="button" class="fa fa-bars"></i></span></div>

     
    <div ng-include="'scaffolding/sidebar.html'"  class="off-canvas" ng-class="{'active': class_status}" >
                </div>
<div ng-view>


</div>

        </section>
    </div><!--close wrapper-->

    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>-->
      <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular-touch.js"></script>
    <!--<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular-route.js"></script>-->
    
    <!--<script src="js/ui-bootstrap-tpls-0.11.0.min.js"></script>-->
    <script src="js/application.js"></script>
    <!--<script src="js/main.js"></script>-->
    <!--<div class='overlay' ng-click="removeSingleClass()"></div>-->
</body>
</html>
