<!DOCTYPE HTML>
<html ng-app="phonecatApp">
<head>
  <script src="bower_components/angular/angular.js"></script>
  <script src="js/controllers.js"></script>
</head>
<body ng-controller="PhoneListCtrl">

  <ul>
    <li ng-repeat="phone in phones">
      <span>{{phone.name}}</span>
      <p>{{phone.snippet}}</p>
    </li>
  </ul>

<nav ng-controller="navCtrl">
     <h2><a href="http://styleguide.kristibbs.co.uk/index.html">Home</a></h2>
         <h2>Organisms</h2>
      <ul>
      <li ng-repeat="nav in navList"><a href="{{nav.url}}" ><span>{{nav.text}}</span></a></li>
    </ul>          
     </nav>









 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-touch.js"></script>
    <script src="js/ui-bootstrap-tpls-0.11.0.min.js"></script>
    <script src="js/application.js"></script>
</body>
</html>