@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600);
@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);
/* line 5, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 11, ../scss/atoms/_font.scss */
h1 {
  font-size: 2.125em;
}

/* line 15, ../scss/atoms/_font.scss */
h2 {
  font-size: 28px;
}

/* line 19, ../scss/atoms/_font.scss */
h3 {
  font-size: 1.5em;
}

/* line 23, ../scss/atoms/_font.scss */
h4 {
  font-size: 18px;
}

/* line 27, ../scss/atoms/_font.scss */
h5 {
  font-size: 16px;
}

/* line 31, ../scss/atoms/_font.scss */
h6 {
  font-size: 12px;
}

/* line 3, ../scss/atoms/_paragraph.scss */
.intro {
  font-weight: 600;
}

/* line 3, ../scss/atoms/_lists.scss */
ul {
  padding: 0 0 0 30px;
}

/* line 7, ../scss/atoms/_lists.scss */
li {
  list-style: inside none disc;
  padding: 0;
}

/* line 1, ../scss/atoms/_buttons.scss */
.cd-btn, .nav-btn {
  font-size: 28px;
  text-decoration: none;
  color: #494947;
}

/* line 2, ../scss/layouts/_core.scss */
*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 8, ../scss/layouts/_core.scss */
*::after, *::before {
  content: '';
}

/* line 13, ../scss/layouts/_core.scss */
html, body {
  height: 100%;
}

/* line 17, ../scss/layouts/_core.scss */
html,
button,
input,
select,
textarea {
  color: #494947;
}

/* line 25, ../scss/layouts/_core.scss */
html {
  font-size: 1em;
  line-height: 1.4;
}

/* line 30, ../scss/layouts/_core.scss */
body {
  font-family: "Source Sans Pro", sans-serif;
}

/*
 * A better looking default horizontal rule
 */
/* line 39, ../scss/layouts/_core.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */
/* line 53, ../scss/layouts/_core.scss */
audio,
canvas,
img,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
/* line 64, ../scss/layouts/_core.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
/* line 74, ../scss/layouts/_core.scss */
textarea {
  resize: vertical;
}

/* line 78, ../scss/layouts/_core.scss */
p {
  margin-bottom: 20px;
}

/* line 1, ../scss/layouts/_layout.scss */
.main-two-col {
  width: 100%;
}
@media (min-width: 700px) {
  /* line 1, ../scss/layouts/_layout.scss */
  .main-two-col {
    width: 75%;
    padding-right: 2%;
    float: left;
  }
}

/* line 10, ../scss/layouts/_layout.scss */
.main-sidebar {
  width: 100%;
}
@media (min-width: 700px) {
  /* line 10, ../scss/layouts/_layout.scss */
  .main-sidebar {
    width: 25%;
    padding-left: 2%;
    float: left;
  }
}
