@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600);
@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);
/* line 5, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 11, ../scss/atoms/_font.scss */
h1 {
  font-size: 2.125em;
}

/* line 15, ../scss/atoms/_font.scss */
h2 {
  font-size: 28px;
}

/* line 19, ../scss/atoms/_font.scss */
h3 {
  font-size: 1.5em;
}

/* line 23, ../scss/atoms/_font.scss */
h4 {
  font-size: 18px;
}

/* line 27, ../scss/atoms/_font.scss */
h5 {
  font-size: 16px;
}

/* line 31, ../scss/atoms/_font.scss */
h6 {
  font-size: 12px;
}

/* line 3, ../scss/atoms/_paragraph.scss */
.intro {
  font-weight: 600;
}

/* line 3, ../scss/atoms/_lists.scss */
ul {
  padding: 0 0 0 30px;
}

/* line 7, ../scss/atoms/_lists.scss */
li {
  list-style: inside none disc;
  padding: 0;
}

/* line 1, ../scss/atoms/_buttons.scss */
.cd-btn, .nav-btn {
  font-size: 28px;
  text-decoration: none;
  color: #494947;
}

/* line 2, ../scss/layouts/_core.scss */
*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 8, ../scss/layouts/_core.scss */
*::after, *::before {
  content: '';
}

/* line 13, ../scss/layouts/_core.scss */
html, body {
  height: 100%;
}

/* line 17, ../scss/layouts/_core.scss */
html,
button,
input,
select,
textarea {
  color: #494947;
}

/* line 25, ../scss/layouts/_core.scss */
html {
  font-size: 1em;
  line-height: 1.4;
}

/* line 30, ../scss/layouts/_core.scss */
body {
  font-family: "Source Sans Pro", sans-serif;
}

/*
 * A better looking default horizontal rule
 */
/* line 39, ../scss/layouts/_core.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */
/* line 53, ../scss/layouts/_core.scss */
audio,
canvas,
img,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
/* line 64, ../scss/layouts/_core.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
/* line 74, ../scss/layouts/_core.scss */
textarea {
  resize: vertical;
}

/* line 78, ../scss/layouts/_core.scss */
p {
  margin-bottom: 20px;
}

/* line 1, ../scss/layouts/_layout.scss */
.main-two-col {
  width: 100%;
}
@media (min-width: 700px) {
  /* line 1, ../scss/layouts/_layout.scss */
  .main-two-col {
    width: 75%;
    padding-right: 2%;
    float: left;
  }
}

/* line 10, ../scss/layouts/_layout.scss */
.main-sidebar {
  width: 100%;
}
@media (min-width: 700px) {
  /* line 10, ../scss/layouts/_layout.scss */
  .main-sidebar {
    width: 25%;
    padding-left: 2%;
    float: left;
  }
}

/* line 9, ../scss/styleguide/_sg-variables.scss */
.primary-colour {
  background: #3E6990;
}

/* line 13, ../scss/styleguide/_sg-variables.scss */
.btn-colour {
  background: #F39B6D;
}

/* line 17, ../scss/styleguide/_sg-variables.scss */
.brand-colour {
  background: #381D2A;
}

/* line 21, ../scss/styleguide/_sg-variables.scss */
.go-colour {
  background: #AABD8C;
}

/* line 3, ../scss/styleguide/_sg-layout.scss */
.styleguide-wrapper {
  padding: 0 20px;
}
@media (min-width: 700px) {
  /* line 3, ../scss/styleguide/_sg-layout.scss */
  .styleguide-wrapper {
    width: 80%;
    margin: auto;
    max-width: 1200px;
  }
}

/* line 12, ../scss/styleguide/_sg-layout.scss */
.styleguide .top-strap {
  width: 100%;
  display: block;
}

/* line 33, ../scss/styleguide/_sg-layout.scss */
ul.sg-colours {
  display: inline-block;
  padding: 0;
  margin: 0;
  width: 100%;
}
/* line 35, ../scss/styleguide/_sg-layout.scss */
ul.sg-colours li {
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  margin-bottom: 20px;
}
/* line 39, ../scss/styleguide/_sg-layout.scss */
ul.sg-colours li .sg-colour {
  display: block;
  width: 90px;
  height: 90px;
  float: left;
  margin-right: 20px;
  position: relative;
}
@media (min-width: 700px) {
  /* line 39, ../scss/styleguide/_sg-layout.scss */
  ul.sg-colours li .sg-colour {
    width: 100px;
    height: 100px;
  }
}

/* line 53, ../scss/styleguide/_sg-layout.scss */
.sg-colours-row {
  display: block;
}

/* line 56, ../scss/styleguide/_sg-layout.scss */
.sg-colour-name {
  font-size: 12px;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  color: #fff;
  text-align: center;
}

/* line 75, ../scss/styleguide/_sg-layout.scss */
ul.sg-fonts li.sg-font-light {
  font-weight: 300;
}
/* line 78, ../scss/styleguide/_sg-layout.scss */
ul.sg-fonts li.sg-font-medium {
  font-weight: 400;
}
/* line 81, ../scss/styleguide/_sg-layout.scss */
ul.sg-fonts li.sg-font-bold {
  font-weight: 600;
}

/* line 86, ../scss/styleguide/_sg-layout.scss */
ul.sg-fonts li span {
  margin-left: 20px;
}

/* line 2, ../scss/styleguide/_sg_sidepanel.scss */
.cd-main-content {
  text-align: center;
}

/* line 6, ../scss/styleguide/_sg_sidepanel.scss */
.cd-main-content .cd-btn {
  position: relative;
  display: inline-block;
  padding: 1em 2em;
  background-color: #89ba2c;
  color: #ffffff;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border-radius: 50em;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 0 5px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

/* line 21, ../scss/styleguide/_sg_sidepanel.scss */
.no-touch .cd-main-content .cd-btn:hover {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 0 20px rgba(0, 0, 0, 0.3);
}

/* line 26, ../scss/styleguide/_sg_sidepanel.scss */
.cd-panel {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  visibility: hidden;
  -webkit-transition: visibility 0s 0.6s;
  -moz-transition: visibility 0s 0.6s;
  transition: visibility 0s 0.6s;
}

/* line 37, ../scss/styleguide/_sg_sidepanel.scss */
.cd-panel::after {
  /* overlay layer 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  cursor: pointer;
  -webkit-transition: background 0.3s 0.3s;
  -moz-transition: background 0.3s 0.3s;
  transition: background 0.3s 0.3s;*/
}

/* line 50, ../scss/styleguide/_sg_sidepanel.scss */
.cd-panel.is-visible {
  visibility: visible;
  -webkit-transition: visibility 0s 0s;
  -moz-transition: visibility 0s 0s;
  transition: visibility 0s 0s;
}

/* line 56, ../scss/styleguide/_sg_sidepanel.scss */
.cd-panel.is-visible::after {
  /*background: rgba(0, 0, 0, 0.6);
  -webkit-transition: background 0.3s 0s;
  -moz-transition: background 0.3s 0s;
  transition: background 0.3s 0s;*/
}

/* line 62, ../scss/styleguide/_sg_sidepanel.scss */
.cd-panel.is-visible .cd-panel-close::before {
  -webkit-animation: cd-close-1 0.6s 0.3s;
  -moz-animation: cd-close-1 0.6s 0.3s;
  animation: cd-close-1 0.6s 0.3s;
}

/* line 67, ../scss/styleguide/_sg_sidepanel.scss */
.cd-panel.is-visible .cd-panel-close::after {
  -webkit-animation: cd-close-2 0.6s 0.3s;
  -moz-animation: cd-close-2 0.6s 0.3s;
  animation: cd-close-2 0.6s 0.3s;
}

@-webkit-keyframes cd-close-1 {
  0%, 50% {
    -webkit-transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(45deg);
  }
}
@-moz-keyframes cd-close-1 {
  0%, 50% {
    -moz-transform: rotate(0);
  }
  100% {
    -moz-transform: rotate(45deg);
  }
}
@keyframes cd-close-1 {
  0%, 50% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}
@-webkit-keyframes cd-close-2 {
  0%, 50% {
    -webkit-transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(-45deg);
  }
}
@-moz-keyframes cd-close-2 {
  0%, 50% {
    -moz-transform: rotate(0);
  }
  100% {
    -moz-transform: rotate(-45deg);
  }
}
@keyframes cd-close-2 {
  0%, 50% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}
/* line 137, ../scss/styleguide/_sg_sidepanel.scss */
.cd-panel-header {
  position: fixed;
  width: 90%;
  height: 50px;
  line-height: 50px;
  background: rgba(255, 255, 255, 0.96);
  z-index: 2;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
  -webkit-transition: top 0.3s 0s;
  -moz-transition: top 0.3s 0s;
  transition: top 0.3s 0s;
}

/* line 152, ../scss/styleguide/_sg_sidepanel.scss */
.from-right .cd-panel-header, .from-left .cd-panel-header {
  top: -50px;
}

/* line 155, ../scss/styleguide/_sg_sidepanel.scss */
.from-right .cd-panel-header {
  right: 0;
}

/* line 158, ../scss/styleguide/_sg_sidepanel.scss */
.from-left .cd-panel-header {
  left: 0;
}

/* line 161, ../scss/styleguide/_sg_sidepanel.scss */
.is-visible .cd-panel-header {
  top: 0;
  -webkit-transition: top 0.3s 0.3s;
  -moz-transition: top 0.3s 0.3s;
  transition: top 0.3s 0.3s;
}

@media only screen and (min-width: 768px) {
  /* line 168, ../scss/styleguide/_sg_sidepanel.scss */
  .cd-panel-header {
    width: 50%;
  }
}
@media only screen and (min-width: 1170px) {
  /* line 173, ../scss/styleguide/_sg_sidepanel.scss */
  .cd-panel-header {
    width: 30%;
  }
}
/* line 178, ../scss/styleguide/_sg_sidepanel.scss */
.cd-panel-close {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 60px;
  /* image replacement */
  display: inline-block;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

/* line 190, ../scss/styleguide/_sg_sidepanel.scss */
.cd-panel-close::before, .cd-panel-close::after {
  /* close icon created in CSS */
  position: absolute;
  top: 22px;
  left: 20px;
  height: 3px;
  width: 20px;
  background-color: #424f5c;
  /* this fixes a bug where pseudo elements are slighty off position */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* line 202, ../scss/styleguide/_sg_sidepanel.scss */
.cd-panel-close::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* line 209, ../scss/styleguide/_sg_sidepanel.scss */
.cd-panel-close::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* line 216, ../scss/styleguide/_sg_sidepanel.scss */
.no-touch .cd-panel-close:hover {
  background-color: #424f5c;
}

/* line 219, ../scss/styleguide/_sg_sidepanel.scss */
.no-touch .cd-panel-close:hover::before, .no-touch .cd-panel-close:hover::after {
  background-color: #ffffff;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

/* line 228, ../scss/styleguide/_sg_sidepanel.scss */
.no-touch .cd-panel-close:hover::before {
  -webkit-transform: rotate(220deg);
  -moz-transform: rotate(220deg);
  -ms-transform: rotate(220deg);
  -o-transform: rotate(220deg);
  transform: rotate(220deg);
}

/* line 235, ../scss/styleguide/_sg_sidepanel.scss */
.no-touch .cd-panel-close:hover::after {
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

/* line 243, ../scss/styleguide/_sg_sidepanel.scss */
.cd-panel-container {
  position: fixed;
  width: 90%;
  height: 100%;
  top: 0;
  background: rgba(0, 0, 0, 0.9);
  z-index: 1;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

/* line 260, ../scss/styleguide/_sg_sidepanel.scss */
.from-right .cd-panel-container {
  right: 0;
  -webkit-transform: translate3d(100%, 0, 0);
  -moz-transform: translate3d(100%, 0, 0);
  -ms-transform: translate3d(100%, 0, 0);
  -o-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}

/* line 268, ../scss/styleguide/_sg_sidepanel.scss */
.from-left .cd-panel-container {
  left: 0;
  -webkit-transform: translate3d(-100%, 0, 0);
  -moz-transform: translate3d(-100%, 0, 0);
  -ms-transform: translate3d(-100%, 0, 0);
  -o-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}

/* line 276, ../scss/styleguide/_sg_sidepanel.scss */
.is-visible .cd-panel-container {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  transition-delay: 0s;
}

@media only screen and (min-width: 768px) {
  /* line 287, ../scss/styleguide/_sg_sidepanel.scss */
  .cd-panel-container {
    width: 50%;
  }
}
@media only screen and (min-width: 1170px) {
  /* line 292, ../scss/styleguide/_sg_sidepanel.scss */
  .cd-panel-container {
    width: 30%;
  }
}
/* line 297, ../scss/styleguide/_sg_sidepanel.scss */
.cd-panel-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 70px 5%;
  overflow: auto;
  /* smooth scrolling on touch devices */
  -webkit-overflow-scrolling: touch;
}

/* line 310, ../scss/styleguide/_sg_sidepanel.scss */
.cd-panel-content p:first-of-type {
  margin-top: 0;
}

@media only screen and (min-width: 768px) {
  /* line 314, ../scss/styleguide/_sg_sidepanel.scss */
  .cd-panel-content p {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.6;
  }
}
/* line 321, ../scss/styleguide/_sg_sidepanel.scss */
.cd-panel-content h1 {
  color: #fff;
}

/* line 325, ../scss/styleguide/_sg_sidepanel.scss */
.cd-panel-content h2,
.cd-panel-content h3 {
  color: #fff;
}

/* line 331, ../scss/styleguide/_sg_sidepanel.scss */
.cd-panel-content a {
  color: #fff;
}
