<!DOCTYPE html>
<html lang="en" ng-app="myApp">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="stylesheet" href="css/styleguide.css">
        <script src="js/vendor/modernizr-2.6.2.min.js"></script>
        <script src="todo.js"></script>
    <link rel="stylesheet" href="todo.css">
    </head>
    <body class="styleguide"> 
        <div ng-controller="MainCtrl">
        <!-- Add your site or application content here -->
        <div class="styleguide-wrapper">
            <h1 class="page-title">The styleguide to rule them all</h1>
        <aside class="sidebar">
            <h2>Base styles</h2>
            <nav>
            <ul role="navigation" ng-controller="CollapseMainNavCtrl">
                <li><a href="#colours">Colours</a></li>
                <li><a href="#fonts">Fonts</a></li>
                <li><a href="#font-sizes">Font sizes</a></li>
                <li><a href="#para">Paragraph</a></li>
                <li><a href="#intro-section">Intro text</a></li>
                <li ng-repeat="nav in navList"><a href="{{nav.url}}" ><span>{{nav.text}}</span></a>
            </ul>

            <h2>Templates</h2>
            <ul>
                <li><a href="article-block.html">Article block</a></li>
            </ul>
            </nav>
        </aside>

        <section class="main">
             <div>
  <p>Name: <input type="text" ng-model="name"></p>
  <p ng-bind="name"></p>
</div>


        <h2 id="colours">Colours</h2>
        <ul name="colours" class="sg-colours">
            <li><span class="primary-colour sg-colour"></span>
                The sites primary colour. Used for headings and stuff.<span class="sg-colour-name">$primary-colour</span></li>
            <li><span class="secondary-colour sg-colour"></span>
                The sites secondary colour. Used for backgronds.<span class="sg-colour-name">$secondary-colour</span></li>
            <li><span class="tertiary-colour sg-colour"></span>
                The sites 3rd colour. Used for borders.<span class="sg-colour-name">$tertiary-colour</span></li>
         </ul>

<hr>    
        <h2 id="fonts">Fonts</h2>
        <h3>Source Sans Pro</h3>
        <ul class="sg-fonts">
            <li class="sg-font-light">The quick brown fox jumps over the lazy dog<span>Weight:300</span></li>
            <li class="sg-font-medium">The quick brown fox jumps over the lazy dog<span>Weight: 400</span></li>
            <li class="sg-font-bold">The quick brown fox jumps over the lazy dog<span>Weight: 600</span></li>
         </ul>
<hr> 

        <h2 id="font-sizes">Font Sizes</h2>
        <h1>Header 1 text</h1>
        <h2>Header 2 text</h2>
        <h3>Header 3 text</h3>
        <h4>Header 4 text</h4>
        <h5>Header 5 text</h5>
        <h6>Header 6 text</h6>
<hr> 
        <h2 id="para">Paragraph</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi a dui malesuada, efficitur quam sed, consectetur felis. Maecenas purus libero, aliquam eu molestie quis, lobortis eu neque. Cras tempor, odio a mattis lacinia, massa mauris fringilla est, et pulvinar arcu elit id nisi. Duis vel consectetur ligula. In sed diam in arcu porta porta vitae sit amet dui. Nullam vulputate bibendum augue semper commodo. Praesent placerat lacus a semper euismod. Nulla pulvinar tristique nulla, bibendum blandit ligula. Nam id eleifend erat.</p>

        <p>Fusce et elit dignissim, efficitur eros eget, feugiat purus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed non aliquam lacus. Cras tristique erat varius, porttitor enim ac, semper lectus. Morbi dignissim est eget hendrerit ultrices. Praesent vitae risus volutpat, ullamcorper erat eu, pulvinar enim. Praesent consequat ornare dignissim. Suspendisse sit amet imperdiet lacus. Aenean pellentesque dui vel diam ullamcorper, vitae fermentum lorem rhoncus. Donec pulvinar interdum augue, id congue tortor maximus et. Vivamus nec lobortis leo.</p>

<hr>

        <h2 id="intro-section">Intro text</h2>
        <p class="intro">Fusce et elit dignissim, efficitur eros eget, feugiat purus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed non aliquam lacus. Cras tristique erat varius, porttitor enim ac, semper lectus. Morbi dignissim est eget hendrerit ultrices. Praesent vitae risus volutpat, ullamcorper erat eu, pulvinar enim. Praesent consequat ornare dignissim. Suspendisse sit amet imperdiet lacus. Aenean pellentesque dui vel diam ullamcorper, vitae fermentum lorem rhoncus. Donec pulvinar interdum augue, id congue tortor maximus et. Vivamus nec lobortis leo.</p>

</section>
</div><!--close wrapper-->

    <h2>Todo</h2>
    <div ng-controller="TodoController">
      <span>{{remaining()}} of {{todos.length}} remaining</span>
      [ <a href="" ng-click="archive()">archive</a> ]
      <ul class="unstyled">
        <li ng-repeat="todo in todos">
          <input type="checkbox" ng-model="todo.done">
          <span class="done-{{todo.done}}">{{todo.text}}</span>
        </li>
      </ul>
      <form ng-submit="addTodo()">
        <input type="text" ng-model="todoText"  size="30"
               placeholder="add new todo here">
        <input class="btn-primary" type="submit" value="add">
      </form>
    </div>
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.6/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.6/angular-touch.js"></script>
    <script src="javascripts/ui-bootstrap-tpls-0.11.0.min.js"></script>
     <script src="javascripts/angular-carousel.min.js"></script>
    <script src="javascripts/oe-scripts.js"></script>
</div>
</body>
</html>
