
.off-canvas {
  display: none;
  position: relative;
padding: 0;
top: 0;
  width: 0;
 
}

.off-canvas.active {
  display: block;
  left: 0;
  position: absolute;
  z-index: 200;
  width: 100%;
  //top: $spacing-m;
   @include slideInDown(
  $duration: 1s);
}

//end position
.cd-panel {
 background: $overlay-black;
  height: 100%;
  width: 96%;
  margin: auto;
  max-width: 1200px;
  z-index: 2;
  padding: $spacing-m;
}

.cd-panel-header {
}

.cd-panel-container {

}

.cd-panel-content h1 {
  color: #fff;
}

.cd-panel-content h2, 
.cd-panel-content h3 {
color: #fff;
  
}
.cd-panel-content ul li {
  @include nobullets ();
}
.cd-panel-content a {
  color: #fff;
  text-decoration: none;
}



/*overlay stuff*/
.overlay.ng-hide-add,
.overlay.ng-hide-remove {
  display:block!important;
}


.overlay {
  background: none repeat scroll 0 0 #808080;
  bottom: 0;
  left: 0;
  opacity: 0.85;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
    -webkit-transition:all linear 0.4s;
  transition:all linear 0.4s;
}

.overlay.ng-hide {
background: #fff;
opacity: 0;
}
