.cd-btn, .nav-btn {
	font-size: 28px;
	text-decoration: none;
	color: $text-colour;
	
}

%btn-cta {
  background: $cta-colour;
  border-radius: $border-radius-base;
  overflow: visible;
  padding: $spacing-s $spacing-m;
  color: #fff;
}


.btn {
  display: inline-block;
  padding: $form-item-padding;
  margin-bottom: 0;
  font-size: $font-size-input;
  font-weight: $font-weight-medium;
  line-height: $line-height-base;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border-radius: $border-radius-base;
  border: none 0; //override default button tag style
  max-width: $max-btn-width;
}


a.btn {
	@include borders();
	color: $text-colour;
	text-decoration: none;
}

input.btn {
background: #aaa;
}

input.btn[type="submit"] {
	background: $btn-colour;
	
}
