// colours 

$primary-colour: #6887D8;  //current mid blue
$btn-colour: #87D867;
$brand-colour: #223D84;  //currently a darker blue
$background-colour: #E8EBE4; // a light grey
$cta-colour: #AABD8C; 
$overlay-black: rgba(0,0,0,0.9);

//greys
$gray-darker:  lighten(#000, 13.5%) !default; // #222
$gray-dark:    lighten(#000, 20%) !default;   // #333
$gray:         lighten(#000, 33.5%) !default; // #555
$gray-light:   lighten(#000, 46.7%) !default; // #777
$gray-lighter: lighten(#000, 93.5%) !default; // #eee
$text-colour: $gray-darker;