
@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);

$font-size-h1:            2.125em; //34px
$font-size-h2:            floor(($font-size-base * 2.25)) !default; // ~36px
$font-size-h3:            1.5em; //24px
$font-size-h4:            ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-h5:            $font-size-base !default;
$font-size-h6:            ceil(($font-size-base * 0.85)) !default; // ~12px

h1 {
	font-size: $font-size-h1;
}

h2 {
	font-size: $font-size-h2;
}

h3 {
	font-size: $font-size-h3;
}

h4 {
	font-size: $font-size-h4;
}

h5 {
	font-size: $font-size-h5;	
}

h6 {
	font-size: $font-size-h6;	
}

h1, h2, h3, h4, h5, h6 {
	a{
	text-decoration: none;
	}
}

