<div class="cd-panel from-left">
    <header class="cd-panel-header">
        <h1>Selections</h1>
        <a href="#0" class="cd-panel-close">Close</a>
    </header>
    <div class="cd-panel-container">
        <div class="cd-panel-content">
            <aside class="sidebar">
                <nav>
                    <h2><a href="/styleguide/index.html">Home</a></h2>
                    <h2>Organisms</h2>
                    <ul>
                        <li><a href="/styleguide/organisms/article-block.html">Article block</a></li>
                        <li><a href="/styleguide/organisms/article-with-list.html">Article block with list</a></li>
                        <li><a href="/styleguide/organisms/teaser-list.html">Sidebar teaser block</a></li>
                    </ul>
                    <h2>Templates</h2>
                    <ul>
                        <li><a href="/styleguide/templates/article-page.html">Article pages</a></li>
                    </ul>
                </nav>
            </aside>
        </div> <!-- cd-panel-content -->
    </div> <!-- cd-panel-container -->
</div> <!-- cd-panel -->