<div class="cd-panel from-left">

    <header class="cd-panel-header">
    </header>
    <div class="cd-panel-container">
        <div class="cd-panel-content">
            <span class="close-btn" ng-click="removeSingleClass()"><i class="fa fa-times"></i></span>
            <aside class="sidebar">
                <nav>
                    <h2>Atoms<a href="#/" ng-click="removeSingleClass()"></a></h2>
                   <!-- <ul><li><a href="#/" ng-click="removeSingleClass()">Style</a></li></ul>-->
                    <ul ng-controller="navCtrl">
                        <li ng-repeat="atom in atomsList"><a href="{{atom.url}}" ng-click="removeSingleClass()"><span>{{atom.text}}</span></a></li>
                    </ul>
                    <h2>Organisms</h2>
                    <ul ng-controller="navCtrl">
                        <li ng-repeat="nav in navList"><a href="{{nav.url}}" ng-click="removeSingleClass()"><span>{{nav.text}}</span></a></li>
                    </ul>
                    <h2>Templates</h2>
                    <ul ng-controller="navCtrl">
                        <li ng-repeat="template in templateList"><a href="{{template.url}}" ng-click="removeSingleClass()"><span>{{template.text}}</span></a></li>
                    </ul>
                </nav>
            </aside>
        </div> <!-- cd-panel-content -->
    </div> <!-- cd-panel-container -->
</div> <!-- cd-panel -->