//mixins

// Mixin for easy media queries: @include bp(m) {};
@mixin bp ($bp) {
  @if $bp == xl {
    @media (min-width: $bp4) { @content ; }
  }
  @else if $bp == l {
    @media (min-width: $bp3) { @content ; }
  }
  @else if $bp == m {
    @media (min-width: $bp2) { @content ; }
  }
  @else if $bp ==  s {
    @media (min-width: $bp1)  { @content ; }
  }
  @else if $bp == max {
    @media (max-width: $bp1)  { @content ; }

  }
}

@mixin borders($colour: $colour-11, $width: 1px, $style: solid) {
 border-width: $width;
 border-style: $style;
 border-color: $colour;
}


//no bullets lists
@mixin nobulletul($display: inline-block, $padding: 0, $margin: 0, $width: 100%) {
display: $display;
padding: $padding;
margin: $margin;
width: $width;
}

@mixin nobullets($list-style: none, $padding: 0, $margin: 0, $display: inline-block, $width: 100%) {
display: $display;
list-style: $list-style;
padding: $padding;
margin: $margin;
width: $width;
}