// font type
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600);
$font-family-default: 'Source Sans Pro', sans-serif;

//font weights:
$font-weight-light: 300;
$font-weight-medium: 400;
$font-weight-bold: 600;



//Font sizes
$font-size-base: 		  16px;
$font-size-h1:            floor(($font-size-base * 2.43)) !default; //36px
$font-size-h2:            floor(($font-size-base * 1.75)) !default; // ~28px
$font-size-h3:            floor(($font-size-base * 1.5)) !default; //24px
$font-size-h4:            ceil(($font-size-base * 1.125))  !default; // 18px
$font-size-h5:            $font-size-base !default;
$font-size-h6:            ceil(($font-size-base * 0.75)) !default; // ~12px

//spacing
$spacing-xs: 5px;
$spacing-s: 10px;
$spacing-m: 20px;
$spacing-l: 30px;
$spacing-xl: 40px;
$spacing-gutters: 2%;

//lists 


// breakpoints
// breakpoints
$bp1: 400px;
$bp2: 700px;
$bp3: 960px;
$bp4: 1300px;
