<h1 class="page-title">Buttons</h1>

<a class="btn btn-default" href="#" role="button">Link</a> <p>Default button style for a tags styled as buttons</p>
<hr> 
<button class="btn btn-default" type="submit">Button</button>
<p>Default button style for button tag</p>
<hr> 
<input class="btn btn-default" type="button" value="Input">
<p>Default button style for input tag</p>
<hr> 
<input class="btn btn-default" type="submit" value="Submit">
<p>Default button style for form submit</p>
<hr> 