<h1 class="page-title">Images</h1>

<h2>Inline images for teasers etc</h2>
<ul>
	<li><h3>Block header</h3>
		<img src="img/thumb.jpg" alt="" class="thumbnail"/><p>Default button style for a tags styled as buttons</p>
	</li>
	<li>
		<img src="img/thumb.jpg" alt="" class="thumbnail"/><p>Default button style for a tags styled as buttons</p>
	</li>
	<li>
		<img src="img/thumb.jpg" alt="" class="thumbnail"/><p>Default button style for a tags styled as buttons</p>
	</li>
	<li>
		<img src="img/thumb.jpg" alt="" class="thumbnail"/><p>Default button style for a tags styled as buttons</p>
	</li>
</ul>
<hr>
<h2>Images with text underneath</h2>