<h1 class="page-title">Basic theme styles</h1>
<h2 id="colours">Colours</h2>
<ul name="colours" class="sg-colours">
    <li>
        <div class="sg-colours-row">
            <div class="sg-colour primary-colour">
                <span class="sg-colour-name">
                $primary-colour
                </span>
            </div><!--end color block-->
            <div class="sg-colour-desc">
                <p>The sites primary colour.</p>
            </div>
        </div>
    </li>
    <li>
        <div class="sg-colours-row">
            <div class="sg-colour btn-colour">
                <span class="sg-colour-name">
                $btn-colour
                </span>
            </div><!--end color block-->
            <div class="sg-colour-desc">
                <p>The sites secondary colour</p>
            </div>
        </div>
    </li>
    <li>
        <div class="sg-colours-row">
            <div class="sg-colour brand-colour">
                <span class="sg-colour-name">
                $brand-colour
                </span>
            </div><!--end color block-->
            <div class="sg-colour-desc">
                <p>Tertiary colour</p>
            </div>
        </div>
    </li>
        <li>
        <div class="sg-colours-row">
            <div class="sg-colour cta-colour">
                <span class="sg-colour-name">
                $cta-colour
                </span>
            </div><!--end color block-->
            <div class="sg-colour-desc">
                <p>Yet another colour</p>
            </div>
        </div>
    </li>
</ul>

<h3>The Greys</h3>
<ul name="colours" class="sg-colours">
            <li>
        <div class="sg-colours-row">
            <div class="sg-colour gray-darker">
                <span class="sg-colour-name">
                $gray-darker
                </span>
            </div><!--end color block-->
            <div class="sg-colour-desc">
                <p></p>
            </div>
        </div>
    </li>
    <li>
        <div class="sg-colours-row">
            <div class="sg-colour gray-dark">
                <span class="sg-colour-name">
                $gray-dark
                </span>
            </div><!--end color block-->
            <div class="sg-colour-desc">
                <p></p>
            </div>
        </div>
    </li>
    <li>
        <div class="sg-colours-row">
            <div class="sg-colour gray">
                <span class="sg-colour-name">
                $gray
                </span>
            </div><!--end color block-->
            <div class="sg-colour-desc">
                <p></p>
            </div>
        </div>
    </li>
            <li>
        <div class="sg-colours-row">
            <div class="sg-colour gray-light">
                <span class="sg-colour-name">
                $gray-light
                </span>
            </div><!--end color block-->
            <div class="sg-colour-desc">
                <p></p>
            </div>
        </div>
    </li>
            <li>
        <div class="sg-colours-row">
            <div class="sg-colour gray-lighter">
                <span class="sg-colour-name">
                $gray-lighter
                </span>
            </div><!--end color block-->
            <div class="sg-colour-desc">
                <p></p>
            </div>
        </div>
    </li>
</ul>


<hr>       
 <h2 id="fonts">Fonts</h2>
            <h3>Source Sans Pro</h3>
            <ul class="sg-fonts">
                <li class="sg-font-light">The quick brown fox jumps over the lazy dog<span>Weight:300</span></li>
                <li class="sg-font-medium">The quick brown fox jumps over the lazy dog<span>Weight: 400</span></li>
                <li class="sg-font-bold">The quick brown fox jumps over the lazy dog<span>Weight: 600</span></li>
            </ul>
            <hr>   
  <h2 id="font-sizes">Font Sizes</h2>
            <h1>Header 1 text</h1>
            <h2>Header 2 text</h2>
            <h3>Header 3 text</h3>
            <h4>Header 4 text</h4>
            <h5>Header 5 text</h5>
            <h6>Header 6 text</h6>
          
            <hr>   
 <h2 id="lists">Lists</h2>
             <ul>
                <li>List item 1</li>
                <li>List item 2</li>
                <li>List item 3</li>
                <li>List item 4</li>
                <li>List item 5</li>
            </ul>

            <hr>