<article class="main main-two-col">
    <section class="main">
        <div ng-include="'organisms/article-block.html'"></div>
    </section>     
</article>
<aside class="main-sidebar">         
        <div ng-include="'organisms/teaser-list.html'"></div>
</aside>
 