            <div class="cd-panel" ng-show="showDetails">
                <header class="cd-panel-header">
                    <h1>Menu</h1>
                </header>
                <div class="cd-panel-container">
                    <div class="cd-panel-content">
                        <aside class="sidebar">
                            <nav>
                                <h2><a href="/">Home</a></h2>
                                <h2>Organisms</h2>
                                <ul ng-controller="navCtrl">
                                    <li ng-repeat="nav in navList"><a href="{{nav.url}}" ><span>{{nav.text}}</span></a></li>
                                </ul>
                                <h2>Templates</h2>
                                <ul ng-controller="navCtrl">
                                    <li ng-repeat="template in templateList"><a href="{{template.url}}" ><span>{{template.text}}</span></a></li>
                                </ul>
                            </nav>
                        </aside>
                    </div> <!-- cd-panel-content -->
                </div> <!-- cd-panel-container -->
            </div> <!-- cd-panel -->