.main-two-col {
	width: 100%;
	@include bp(m) {
	width: 75%;
	padding-right: $spacing-gutters;
	float: left;
	}
}

.main-sidebar {
	width: 100%;
	@include bp(m) {
	width: 25%;
	padding-left: $spacing-gutters;
	float: left;
	}
}