// colours 

$primary-colour: #3E6990;
$btn-colour: #F39B6D;
$brand-colour: #381D2A;
$background-colour: #E9E3B4;
$go-colour: #AABD8C;
$overlay-black: rgba(0,0,0,0.9);
$main-grey: #ccc;
$text-colour: #494947;