
<h1 class="page-title">Article with header, intro text and paragraph</h1>
<section class="main">
        <h2>Article block with intro</h2>
        <p class="intro">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi a dui malesuada, efficitur quam sed, consectetur felis. Maecenas purus libero, aliquam eu molestie quis, lobortis eu neque. Cras tempor, odio a mattis lacinia, massa mauris fringilla est, et pulvinar arcu elit id nisi. Duis vel consectetur ligula. In sed diam in arcu porta porta vitae sit amet dui. Nullam vulputate bibendum augue semper commodo. Praesent placerat lacus a semper euismod. Nulla pulvinar tristique nulla, bibendum blandit ligula. Nam id eleifend erat.
        </p>

        <p>Fusce et elit dignissim, efficitur eros eget, feugiat purus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed non aliquam lacus. Cras tristique erat varius, porttitor enim ac, semper lectus. Morbi dignissim est eget hendrerit ultrices. Praesent vitae risus volutpat, ullamcorper erat eu, pulvinar enim. Praesent consequat ornare dignissim. Suspendisse sit amet imperdiet lacus. Aenean pellentesque dui vel diam ullamcorper, vitae fermentum lorem rhoncus. Donec pulvinar interdum augue, id congue tortor maximus et. Vivamus nec lobortis leo.</p>
</section>