<h1 class="page-title">Comment Form</h1>
<form class="form-horizontal">
	<fieldset>
		<div class="control-group">
  			<div class="controls">
        		<div class="input">
      				<input id="appendedtext" class="input" placeholder="Enter your name" type="text">
    			</div>
  			</div>
		</div>
		<!-- Textarea -->
		<div class="control-group">
  			<div class="controls">                     
    			<textarea id="textarea" name="textarea" placeholder="Enter your comments"></textarea>
  			</div>
  			<div class="controls">  
  			<input class="btn btn-default" type="submit" value="Submit">
  			</div>
		</div>
	</fieldset>
</form>