            <h2>Block header</h2>
                <div class="teaser-block">
                <h3>Teaser heading</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi a dui malesuada, efficitur quam sed, consectetur felis</p>
                </div>
                <div class="teaser-block">
                <h3>Teaser heading</h3>
                <p>TLorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi a dui malesuada, efficitur quam sed, consectetur felis</p>
                </div>
                <div class="teaser-block">
                <h3>Teaser heading</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi a dui malesuada, efficitur quam sed, consectetur felis</p>
                </div>
                <div class="teaser-block">
                <h3>Teaser heading</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi a dui malesuada, efficitur quam sed, consectetur felis</p>
                </div>
                <div class="teaser-block">
                <h3>Teaser heading</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi a dui malesuada, efficitur quam sed, consectetur felis</p>
                </div>