// font type
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600);
$font-family-default: 'Source Sans Pro', sans-serif;

//font weights:
$font-weight-light: 300;
$font-weight-medium: 400;
$font-weight-bold: 600;

//Font sizes
$font-size-base: 		  16px;
$font-size-h1:            floor(($font-size-base * 2.43)) !default; //36px
$font-size-h2:            floor(($font-size-base * 1.75)) !default; // ~28px
$font-size-h3:            floor(($font-size-base * 1.5)) !default; //24px
$font-size-h4:            ceil(($font-size-base * 1.125))  !default; // 18px
$font-size-h5:            $font-size-base !default;
$font-size-h6:            ceil(($font-size-base * 0.75)) !default; // 
$font-size-input:		  ceil(($font-size-base * 0.875)) !default; // 14px
$font-icon-large:		  ceil(($font-size-base * 2.813)) !default; // 45px

//line heights
$line-height-base:        1.428571429 !default; // 20/14
$line-height-computed:    floor(($font-size-base * $line-height-base)) !default; // ~20px
$line-height-large:       1.33 !default;
$line-height-small:       1.5 !default;


//spacing
$spacing-xs: 5px;
$spacing-s: 10px;
$spacing-m: 20px;
$spacing-l: 30px;
$spacing-xl: 40px;
$spacing-gutters: 2%;

//border-radius
$border-radius-base:        4px !default;
$border-radius-large:       6px !default;

//lists 


// breakpoints
// breakpoints
$bp1: 400px;
$bp2: 700px;
$bp3: 960px;
$bp4: 1300px;


//form variables
$form-item-line-height: $font-size-base;
$form-item-font-size: 	$font-size-input;

//adjust form padding top and bottom
$form-item-padding-vertical: 6px;
$form-item-horizontal: 12px;
$form-item-padding: $form-item-padding-vertical $form-item-horizontal;

//button variables
$max-btn-width: 230px;
